
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPropositionLabel" translate="quizApp.proposition.home.createOrEditLabel">Create or edit a Proposition</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.proposition.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="quizApp.proposition.statement" for="field_statement">Statement</label>
            <input type="text" class="form-control" name="statement" id="field_statement"
                    ng-model="vm.proposition.statement"
                    required />
            <div ng-show="editForm.statement.$invalid">
                <p class="help-block"
                    ng-show="editForm.statement.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="quizApp.proposition.valid" for="field_valid">Valid</label>
            <input type="checkbox" class="form-control" name="valid" id="field_valid"
                    ng-model="vm.proposition.valid"
                     />
            <div ng-show="editForm.valid.$invalid">
                <p class="help-block"
                    ng-show="editForm.valid.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="quizApp.proposition.explanation" for="field_explanation">Explanation</label>
            <input type="text" class="form-control" name="explanation" id="field_explanation"
                    ng-model="vm.proposition.explanation"
                     />
        </div>

        <div class="form-group">
            <label translate="quizApp.proposition.question" for="field_question">question</label>
            <select class="form-control" id="field_question" name="question" ng-model="vm.proposition.questionId" ng-options="question.id as question.id for question in vm.questions">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
