body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
}

.navbar-version {
    font-size: 10px;
    color: #ccc
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
  cursor: pointer;
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
    &:last {
        margin:0 !important;
    }
}
/* end Password strength bar style */
/* Custom alerts for notification */

.alerts {
    .alert {
        text-overflow: ellipsis;
        pre{
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* end of Custom alerts for notification */

/* entity tables helpers */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}
@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > {
    tbody > tr > td {
        /* Align text in td verifically (top aligned by Bootstrap) */
        vertical-align: middle;
    }
    thead > tr > th > {
        .glyphicon-sort, .glyphicon-sort-by-attributes, .glyphicon-sort-by-attributes-alt {
            /* less visible sorting icons */
            opacity: 0.5;
            &:hover {
                /* full visible sorting icons and pointer when mouse is over them */
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}
/* end of entity tables helpers */

/* ui bootstrap tweaks */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus{
    outline: none;
}
/* end of ui bootstrap tweaks */

/* jhipster-needle-scss-add-main JHipster will add new css style */
.questionTitle{
    width: 50%;
    margin-right: -15px;
}

.questionTag{
    width: 20%;
    margin-left: -15px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(31, 31, 31, 0.81);
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #e6e6e6;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #cccccc;
  border-radius: 0px;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid rgba(31, 31, 31, 0.81);
}
.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid rgba(31, 31, 31, 0.81);
}
.table tbody + tbody {
  border-top: 2px solid rgba(31, 31, 31, 0.81);
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid rgba(31, 31, 31, 0.81);
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgba(22, 75, 177, 0.1);
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(22, 75, 177, 0.15);
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: rgba(22, 75, 177, 0.1);
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: rgba(102, 215, 131, 0.3);
  border-color: rgba(82, 210, 94, 0.3);
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: rgba(82, 210, 115, 0.3);
  border-color: rgba(62, 205, 75, 0.3);
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: rgba(236, 102, 120, 0.3);
  border-color: rgba(234, 88, 132, 0.3);
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  background-color: rgba(233, 79, 100, 0.3);
  border-color: rgba(231, 65, 116, 0.3);
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: rgba(232, 204, 106, 0.3);
  border-color: rgba(230, 176, 93, 0.3);
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td {
  background-color: rgba(229, 196, 84, 0.3);
  border-color: rgba(227, 165, 71, 0.3);
}
@media (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    border: 1px solid rgba(31, 31, 31, 0.81);
  }
}
.modal-content {
    color: #f2f2f2;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #164bb1;
  text-shadow: none;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #ebebeb;
  border: 0;
  border-bottom: 1px solid rgba(31, 31, 31, 0.81);
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #f2f2f2;
  vertical-align: middle;
  background-color: rgba(15, 15, 15, 0.5);
  border: 1px solid #164bb1;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #1c5ede;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(28, 94, 222, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(28, 94, 222, 0.6);
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: rgba(41, 41, 41, 0.5);
}
.has-warning .help-block,
.has-warning .control-label {
  color: #ffffff;
}
.has-warning .form-control {
  border-color: #ffffff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
}
.has-warning .input-group-addon {
  color: #ffffff;
  border-color: #ffffff;
  background-color: rgba(232, 204, 106, 0.3);
}
.has-error .help-block,
.has-error .control-label {
  color: #ffffff;
}
.has-error .form-control {
  border-color: #ffffff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
}
.has-error .input-group-addon {
  color: #ffffff;
  border-color: #ffffff;
  background-color: rgba(236, 102, 120, 0.3);
}
.has-success .help-block,
.has-success .control-label {
  color: #ffffff;
}
.has-success .form-control {
  border-color: #ffffff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffffff;
}
.has-success .input-group-addon {
  color: #ffffff;
  border-color: #ffffff;
  background-color: rgba(102, 215, 131, 0.3);
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #164bb1;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: rgba(16, 56, 132, 0.41);
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #f7f7f7;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(18, 62, 145, 0.71);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: rgba(22, 75, 177, 0.2);
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: rgba(255, 255, 255, 0.2);
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  background-color: rgba(15, 15, 15, 0.5);
  border: 1px solid #164bb1;
  border-radius: 0px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
}
.navbar-default {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}
.navbar-default .navbar-nav > li > a {
  color: #ebebeb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ebebeb;
  background-color: #164bb1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #164bb1;
  background-color: rgba(22, 75, 177, 0.07);
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-brand {
  color: #ebebeb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #164bb1;
  background-color: rgba(22, 75, 177, 0.07);
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: rgba(0, 0, 0, 0.5);
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ebebeb;
  border-bottom-color: #ebebeb;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(22, 75, 177, 0.07);
  color: #164bb1;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ebebeb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ebebeb;
    background-color: #164bb1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #164bb1;
    background-color: rgba(22, 75, 177, 0.07);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-inverse {
  background-color: #164bb1;
  border-color: #103884;
}
.navbar-inverse .navbar-brand {
  color: #ebebeb;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #999999;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ebebeb;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: rgba(18, 62, 145, 0.71);
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #d1d1d1;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #123e91;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(18, 62, 145, 0.71);
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #ebebeb;
  border-bottom-color: #ebebeb;
}
.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #103884;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ebebeb;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: rgba(18, 62, 145, 0.71);
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #d1d1d1;
    background-color: transparent;
  }
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #dddddd;
  border-radius: 15px;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #808080;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.jumbotron {
  color: #ffffff;
  padding: 30px;
  margin-bottom: 30px;
  font-weight: 200;
  line-height: 2.1428571435;
  background-color: rgba(0, 0, 0, 0.5);
}
.alert-success {
  background-color: #52d273;
  border-color: rgba(82, 210, 94, 0.3);
  color: #cbf2d5;
}
.alert-success hr {
  border-top-color: rgba(62, 205, 75, 0.3);
}
.alert-success .alert-link {
  color: #a3e7b5;
}
.alert-info {
  background-color: #46bcde;
  border-color: rgba(61, 211, 220, 0.3);
  color: #c8ebf5;
}
.alert-info hr {
  border-top-color: rgba(40, 207, 217, 0.3);
}
.alert-info .alert-link {
  color: #9ddbed;
}
.alert-warning {
  background-color: #e5c454;
  border-color: rgba(230, 176, 93, 0.3);
  color: #ffffff;
}
.alert-warning hr {
  border-top-color: rgba(227, 165, 71, 0.3);
}
.alert-warning .alert-link {
  color: #e6e6e6;
}
.alert-danger {
  background-color: #e94f64;
  border-color: rgba(234, 88, 132, 0.3);
  color: #fad7dc;
}
.alert-danger hr {
  border-top-color: rgba(231, 65, 116, 0.3);
}
.alert-danger .alert-link {
  color: #f4aab4;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: rgba(8, 8, 8, 0.5);
  border: 1px solid rgba(31, 31, 31, 0.81);
}
.list-group-item-success {
    background: rgba(102, 215, 131, 0.4);
    border-color: #52d273;
    color: #cbf2d5;
}
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: -1px;
  border-bottom-left-radius: -1px;
}
.panel-default {
  border-color: rgba(31, 31, 31, 0.81);
}
.panel-default > .panel-heading {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(31, 31, 31, 0.81);
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: rgba(31, 31, 31, 0.81);
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: rgba(31, 31, 31, 0.81);
}
.panel-primary {
  border-color: #164bb1;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #164bb1;
  border-color: #164bb1;
}

.navbar-nav > li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: rgba(31, 31, 31, 0.41);
}
.navbar-inverse .navbar-nav > li:before {
  background: rgba(16, 56, 132, 0.41);
}
.navbar-inverse .navbar-nav > .active > a:after {
  background: rgba(0, 0, 0, 0.5);
}
.navbar-inverse .navbar-nav > .active > a:before {
  border-top-color: rgba(0, 0, 0, 0.5);
}
.input-group-addon {
  background: rgba(15, 15, 15, 0.5);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background: rgba(18, 62, 145, 0.71);
}
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover,
.dropdown-menu .disabled > a:focus {
  color: rgba(255, 255, 255, 0.2);
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-menu .active > a:focus {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background: rgba(22, 75, 177, 0.2);
  cursor: default;
}
.panel {
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.5);
}
.panel-default {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.panel-primary {
  background: rgba(25, 85, 200, 0.4);
  border-color: #164bb1;
  color: #ffffff;
}
.panel-success {
  background: rgba(102, 215, 131, 0.4);
  border-color: #52d273;
  color: #cbf2d5;
}
.panel-info {
  background: rgba(92, 196, 226, 0.4);
  border-color: #46bcde;
  color: #c8ebf5;
}
.panel-warning {
  background: rgba(232, 204, 106, 0.4);
  border-color: #e5c454;
  color: #f9f2d9;
}
.panel-danger {
  background: rgba(236, 102, 120, 0.4);
  border-color: #e94f64;
  color: #fad7dc;
}
.panel-default > .panel-heading {
  text-transform: uppercase;
  border-color: #b3b3b3;
  text-shadow: 1px 1px 0px #000;
}
.panel-primary > .panel-heading {
  text-transform: uppercase;
  color: #fff;
  border: none;
  background: rgba(19, 65, 154, 0.4);
}
.panel-success > .panel-heading {
  text-transform: uppercase;
  color: #fff;
  border: none;
  background: rgba(62, 205, 99, 0.4);
}
.panel-info > .panel-heading {
  text-transform: uppercase;
  color: #fff;
  border: none;
  background: rgba(48, 180, 218, 0.4);
}
.panel-warning > .panel-heading {
  text-transform: uppercase;
  color: #fff;
  border: none;
  background: rgba(226, 188, 62, 0.4);
}
.panel-danger > .panel-heading {
  text-transform: uppercase;
  color: #fff;
  border: none;
  background: rgba(230, 56, 80, 0.4);
}
.panel-default > .panel-footer {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.panel-primary > .panel-footer {
  background: rgba(25, 85, 200, 0.1);
  border: none;
  color: #ffffff;
}
.panel-success > .panel-footer {
  background: rgba(102, 215, 131, 0.1);
  border: none;
  color: #cbf2d5;
}
.panel-info > .panel-footer {
  background: rgba(92, 196, 226, 0.1);
  border: none;
  color: #c8ebf5;
}
.panel-warning > .panel-footer {
  background: rgba(232, 204, 106, 0.1);
  border: none;
  color: #f9f2d9;
}
.panel-danger > .panel-footer {
  background: rgba(236, 102, 120, 0.1);
  border: none;
  color: #fad7dc;
}
.panel-default .list-group-item.active,
.panel-success .list-group-item.active,
.panel-warning .list-group-item.active,
.panel-danger .list-group-item.active,
.panel-info .list-group-item.active {
  color: #fff;
}
.panel-default .list-group-item,
.panel-success .list-group-item,
.panel-warning .list-group-item,
.panel-danger .list-group-item,
.panel-info .list-group-item {
  color: #164bb1;
}
.panel-default .lead,
.panel-success .lead,
.panel-warning .lead,
.panel-danger .lead,
.panel-info .lead {
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
}
.panel-default {
  background-color: rgba(0, 0, 0, 0.5);
}
.panel-default > .panel-heading {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(250, 250, 250, 0.15);
}
.panel .list-group {
  margin: 0 0 10px;
}
.panel .list-group li.list-group-item:hover {
  border-color: rgba(31, 31, 31, 0.81);
}
.panel .list-group .list-group-item {
  border-width: 1px;
  color: #ffffff;
}
.panel .list-group .list-group-item.active .list-group-item-text {
  color: #ffffff;
}
.panel .list-group .list-group-item:hover {
  border-color: #164bb1;
}
.panel .list-group .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel .list-group .list-group-item:last-child {
  border-bottom: 1px solid rgba(31, 31, 31, 0.81);
}
.panel .list-group-flush {
  margin: 15px -15px -15px;
}
.panel .list-group-flush .list-group-item {
  border-width: 1px 0;
  color: #ffffff;
}
.panel .list-group-flush .list-group-item.active .list-group-item-text {
  color: #ffffff;
}
.panel .list-group-flush .list-group-item:hover {
  border-color: rgba(31, 31, 31, 0.81);
}
body {
  background: url(../images/blured.png) center center fixed;
  background-size: 100% 100%;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(22, 75, 177, 0.1);
}